/build
/.next
/.cache
/.swc
/node_modules
/.git
/logs
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
npm-debug.log*
yarn-error.log*
.pnp.*
coverage/

lint-report.txt


